body{
    height: 100vh;
}

.error-page-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.application-logo{
    height: 300px;
    width: 300px;
}

.error-code{
    color:var(--text-color);
    font-size: 128px;
    margin-block: 28px;
}

.title-screen{
    width: 90%;
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

@media only screen and (max-width: 800px){
    .application-logo{
        height: 150px;
        width: 150px;
    }

    .error-code{
        font-size: 100px;
        margin-block: 16px;
        margin-top: 0;
    }
}   