.auth-container{
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.auth-header{
    text-align: left;
    background-color: rgb(var(--primary-color));
    padding: 32px;
    flex: 4;
    min-height: calc(100vh - 64px);
}

.auth-main-content{
    flex: 6;
    margin: auto 32px;
    text-align: center;
}


@media only screen and (max-width: 800px) {
    .auth-container{
        display: flex;
        margin-top: 0px;
        flex-direction: column;
    }

    .auth-main-content{
        margin: 8px;
        padding: 8px;
    }
    
    .auth-header{
        text-align: center;
        margin: auto;
        display: none !important;
    }

    .auth-header-mobile{
        display: block !important;
    }
}
