.color-picker{
    aspect-ratio: 1;
    height: 30px;
    border-radius: 4px;
    transition: outline 200ms;
}

.selected{
    outline-offset: 1px;
    outline: 2px solid rgb(var(--primary-color));
}

.color-picker-container{
    width: 100%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px 8px;
    justify-items: center;
}