.class-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 16px;
}

.class-grid>.section{
    margin: 0;
}

.class-grid>.section:nth-of-type(1) { grid-area: 1 / 1 / 5 / 5; }
.class-grid>.section:nth-of-type(2) { grid-area: 3 / 5 / 5 / 7; }
.class-grid>.section:nth-of-type(3){ grid-area: 3 / 7 / 5 / 9; }
.class-grid>.section:nth-of-type(4) { grid-area: 1 / 5 / 3 / 9; } 


.class-grid .class-stat h2{
    font-size: 48px;
}

.class-grid .class-stat .stat-desc .material-icons-outlined{
    font-size: 32px;
}


@media only screen and (max-width: 1300px){
    .class-grid .class-stat{
        display: block !important;
    }
    
    .class-grid .class-stat h2{
        font-size: 40px;
    }
}

@media only screen and (max-width: 1000px){
    .class-grid{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr); 
    }

    .class-grid>.section:nth-of-type(1) { grid-area: 1 / 1 / 5 / 5; }
    .class-grid>.section:nth-of-type(2) { grid-area: 5 / 1 / 7 / 3; }
    .class-grid>.section:nth-of-type(3) { grid-area: 5 / 3 / 7 / 5; }
    .class-grid>.section:nth-of-type(4) { grid-area: 7 / 1 / 9 / 5; } 
}