.underline{
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

.correct{
    color: #445F5E;
}

.incorrect{
    color: var(--red-color);
}

.incorrect:not( > math > mfrac){
    text-decoration: underline line-through;
    text-decoration-thickness: 4px;
}

.incorrect.nounderline{
    text-decoration: none;
}

.strikethrough span{
    text-decoration: line-through;
    text-decoration-thickness: 4px;
}