@media only screen and (max-width: 700px) {
    .navbar-page-titles{
        display: none !important;
    }
}


.profile-btn{
    padding: 6px 8px 6px 12px;
    text-align: end;
    border-radius: 8px;
    transition: background-color 200ms;
    cursor: pointer;
}

.profile-btn:hover{
    background-color: rgb(var(--section-color),  var(--section-transparency));
}

.name-text{
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
    text-transform: capitalize;
}

.school-text{
    color: #787878;
    margin: 0;
    line-height: 1.2;
}



