@media only screen and (max-width:600px){
    .container{
        width: 100% !important;
    }
}

section{
    width: 100%;
}

.preferences > section{
    padding-inline: 16px;
}

select, .number-select{
    display: block;
    margin: 16px 0;
    width: 100%;
    box-sizing: border-box;
}

.number-select > input{
    width: 100%;
    margin-inline: 0;
    box-sizing: border-box;
    height: 56px;
}

.container{
    width: 450px;
    margin: auto;
}

.start-btn button{
    width: 100%;
    box-sizing: border-box;
}

optgroup{
    font-family: "Lexend", sans-serif;
    font-style: normal;
    font-size: 0.9em;
}