@media only screen and (max-width:1300px){
    .container{
        gap: 16px !important;
    }
}

@media only screen and (max-width:1300px){
    .container{
        display: block !important;
    }

    .profile, .settings{
        margin: auto !important;
        width: 100% !important; 
    }

    .padding-container{
        padding-inline: 8px !important;
    }
}

@media only screen and (max-width:800px){

    .container{
        width: 100% !important;
    }

    .mobile-block{
        flex-wrap: wrap;
        gap: 0 !important;
    }

    .mobile-block > *{
        flex-basis:100% !important;

    }
}

@media only screen and (max-width: 600px){
    .app-theme-group{
        grid-template-columns: repeat(1, 1fr) !important;
    }
}


.container{
    display: flex;
    gap: 32px;
    width: 50%;
    margin: auto;
}


.profile > section, .settings > section{
    width: 100%;
}

.settings{
    display: flex;
}

.settings > section{
    flex-grow: 1;
}

section > h3{
    text-align: start;
    margin: 8px;
}

input{
    flex: 1;
}

.number-select{
    width: 100%;
    display: flex;
}

.number-select > input{
    flex: 1;
}

.padding-container{
    padding-inline: 10%;
}

.settings-padding{
    padding-inline: 8px;
}