@media only screen and (max-width: 600px) {
    .register-row{
        display: block !important;
    }
    .register-row > input{
        margin-inline: 0 !important;
    }

    .container{
        width: 100% !important;
    }

}


.container{
    width: 450px;
    margin: auto;
}


.register-container{
    /* width: max(20%, 300px); */
    margin: auto;
}

.register-container input:not(.row-input), button{
    width: 100%;
    margin-inline: 0;
    box-sizing: border-box;
    height: 56px;
}

.register-row{
    display: flex;
    justify-content: stretch;
    width: 100%;
    box-sizing: border-box;
}

.row-input{
    /* minus padding */
    width: calc(100% - 8px);
}
