:root{
    --text-color: 0, 0, 0;
    --main-font: "Lexend", sans-serif;
    --header-font: "Lexend", serif;
    /* Colors */
    --primary-color: 53, 81, 80;
    --primary-header-color: 0, 0, 0;
    --primary-btn-color: var(--primary-color);
    --primary-btn-text-color: 255, 255, 255;
    --primary-btn-border-radius: 12px;
    --red-color: 239, 131, 131;
    --darkred-color: 226, 81, 81;
}