@keyframes size-change{
    0%{
        scale: 0.75;
    }

    50%{
        scale: 0.85;
        rotate: -145deg;
    }

    100%{
        scale: 0.70;
    }
}

@keyframes size-change2{
    0%{
        scale: 0.6;
    }

    50%{
        scale: 0.7;
        rotate: 15deg;
    }

    100%{
        scale: 0.6;
    }
}

@keyframes rotate-change{
    0%{
        rotate: 45deg;
    }

    25%{
        rotate: 55deg;
    }

    50%{
        rotate: 45deg;
    }

    75%{
        rotate: 35deg;
    }

    100%{
        rotate: 45deg;
    }
}

@keyframes wave{
    0%{
        rotate: 0;
    }

    25%{
        rotate: 12deg;
    }

    75%{
        rotate: -13deg;
    }

    100%{
        rotate: 0deg;
    }
}

body, html{
    scroll-behavior: smooth;
}

.onboarding-btn .material-icons-outlined{
    transition: rotate 100ms;
}

.onboarding-btn:hover .material-icons-outlined{
    animation: wave 500ms;
    animation-iteration-count: 2;
}

.text-button{
    background-color: var(--section-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    border-radius: 50px;
    cursor: pointer;
    margin: 4px;
    width: fit-content;
}

.text-button.small{
    font-size: 14px;
    padding: 8px 12px;
}

.text-button.small .material-icons-outlined{
    font-size: 18px;
}

.text-button.simple{
    background-color: transparent;
    transition: background-color 100ms;
}

.text-button.simple:hover{
    background-color: var(--section-color);
}

.text-button:hover{
    filter: brightness(var(--hover-brightness));
}

.welcome-main{
    width: 75%;
    text-align: center;
    margin: auto;
    margin-top: 32px;
}

.auth-links{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0;
    justify-content: space-between;
}

.title-screen{
    padding: 64px 8px;
}

.two-column-welcome{
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    margin: 24px max(8%, 64px);
}

.two-column-welcome .text-container{
    text-align: start;
    flex: 3;
}

.two-column-welcome .text-container p{
    max-width: 400px;
}

.two-column-welcome .img-container{
    flex: 2;
    text-align: end;
}

.stats-section{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 16px;
}

.stats-section .stat-tile{
    flex: 1;
    text-align: center;
    padding: 16px 8px;
}

.stat-tile .stat{
    font-size: 72px;
    font-weight: bold;
    margin: 0;
}

.stat-tile .type{
    margin-bottom: 0;
    margin-top: 12px;
}

.about-tiles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    gap: 60px;
    margin: auto;
}

.about-tiles .about-tile:nth-child(2n+1):last-child{
    grid-column: auto / span 2;
}

.about-tile{
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.about-tile .title{
    display: flex;
    gap: 6px;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.about-tile .title h3{
    margin: 0;
}

.about-tile p{
    color: var(--grey-color);
}

h1{
    font-size: 50px;
}

h1 .shine{
    background: linear-gradient(207deg, rgba(255,245,139,1) 0%, rgba(226,133,23,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    transition: text-shadow 300ms;
}

.shine.extra{
    text-shadow: 0px 0px 32px rgba(184, 188, 78, 0.75);
}

.sparkle{
    opacity: 0;
}

.sparkle:nth-of-type(1){
    scale: 0.5;
    position: absolute;
    top: -8px;
    left: -2px;
    rotate: 45deg;
    animation: rotate-change 2000ms infinite;

}

.sparkle:nth-of-type(2){
    scale: 0.75;
    position: absolute;
    top: -8px;
    right: 4px;
    rotate: -135deg;
    animation: size-change 1500ms infinite;
}

.sparkle:nth-of-type(3){
    scale: 0.6;
    position: absolute;
    bottom: -12px;
    right: 80px;
    rotate: -0;
    animation: size-change2 3000ms infinite;
}


@media only screen and (max-width:1100px){

    .welcome-main{
        width: 90%;
    }

    .onboarding-btn{
        margin-bottom: 16px;
    }

    h1{
        font-size: 36px;
    }

}


@media only screen and (max-width:850px){
    .auth-links{
        flex-direction: column-reverse;
    }

    .two-column-welcome{
        flex-direction: column-reverse;
        gap: 0;
        margin-inline: 24px;
    }

    .two-column-welcome .text-container, .two-column-welcome .img-container{
        text-align: center;
    }

    .title-screen{
        padding-block: 16px;
    }

    .stats-section{
        flex-direction: column;
        gap: 0;
    }

    .stat-tile .stat{
        font-size: 56px;
    }

    .about-tiles{
        grid-template-columns: 1fr;
        gap: 32px;
        width: 90%;
    }

    .about-tile{
        text-align: center;
    }

    .about-tile .title{
        flex-direction: column;
        gap: 16px;
    }

    .about-tile .title .material-icons{
        font-size: 64px;
    }
}
