:root{
    --text-color: 0, 0, 0;
    --main-font: "Kanit", sans-serif;
    --header-font: "Dela Gothic One", serif;
    /* Colors */
    --primary-color: 70, 99, 98;
    --primary-header-color: var(--primary-color);
    --primary-btn-color: var(--primary-color);
    --primary-btn-text-color: 255, 255, 255;
    --primary-btn-border-radius: 12px;
}